body{
font-family:Arial;
background:#0f172a;
color:white;
margin:0;
padding:0;
}

.container{
max-width:500px;
margin:auto;
padding:20px;
}

.card{
background:#1e293b;
padding:15px;
border-radius:12px;
margin-bottom:15px;
}

button{
background:#22c55e;
border:none;
padding:10px;
color:white;
border-radius:8px;
cursor:pointer;
margin-top:8px;
}

input{
width:100%;
padding:10px;
border-radius:8px;
border:none;
margin-top:8px;
}

.timer{
background:#1e293b;
padding:15px;
border-radius:12px;
margin-bottom:15px;
}

.history-card{
background:#334155;
padding:10px;
border-radius:8px;
margin-top:5px;
}
